.contact-form {
  max-width: 470px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  
  &__group {
    display: block;
    margin: 0.74rem 0;
    
    & label {
      display: none;
      float: left;
      margin-bottom: .54rem;
      
      @mixin atLarge {
        float: left;
        margin-bottom: .54rem;
        display: block;
      }
    }
    
    & input {
      max-width: 470px;
      height: 2.1rem;
      border: 1px solid #CCC;
      border-radius: 5px;
      margin-right: 120rem;
      width: 19rem;
      margin: auto;
      
      @mixin atLarge{
        max-width: 470px;
        height: 2.1rem;
        border: 1px solid #CCC;
        border-radius: 5px;
        margin-right: 120rem;
        width: 30rem;
        &::-webkit-input-placeholder {     
            color: transparent;     
        }
      }
      
      &:focus::-webkit-input-placeholder {     
            color:#D3D1D1;     
        }
      
      &:focus {
        border-color: rgba(158, 195, 255, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 158, 195, 255.6);
        outline: 0 none;
      }
    }
    
    & textarea {
      max-width: 470px;
      border: 1px solid #CCC;
      border-radius: 5px;
      margin-right: 120rem;
      width: 19rem;
      margin: auto;
      
      @mixin atLarge {
        max-width: 470px;
        border: 1px solid #CCC;
        border-radius: 5px;
        margin-right: 120rem;
        width: 30rem;
        &::-webkit-input-placeholder {     
            color: transparent;     
        }
      }
      
      &:focus::-webkit-input-placeholder {     
            color:#D3D1D1;     
        }
      
      &:focus {
        border-color: rgba(158, 195, 255, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 158, 195, 255.6);
        outline: 0 none;
      }
    }
  }
  
  &--muted {
      text-align: left;
      font-weight: 200;
      font-size: 0.96rem;
      margin: 3px 0 0 0.69rem;
      padding: 0;
    
    @mixin atSmall {
      margin: 3px 0 0 5.4rem;
    }
    
    @mixin atLarge {
      text-align: left;
      font-weight: 200;
      font-size: 0.96rem;
      margin: 3px 0 0 0;
      padding: 0;
    }
    }
}