.primary-nav {
    
    
    &--pull-right {
        
        @mixin atMedium {
            float: right;
        }
        
    }
    
    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }
    
    li{
        list-style: none;
        padding-top: 6px; 
        
        @mixin atMedium {
            float: left;
            display: block;
            padding-right: 20px;
        }
    }
    
    a {
        color: #FFF;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 5px ;
        font-size: 1rem; 
        border-bottom: thin solid #FFF;
        
        @mixin atMedium {
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;
            text-shadow: 2px 2px 0 rgba(221, 98, 42, .2);
            border-bottom: none;
        }
    }
}