.testimonial {
    background-color: rgba(255, 255, 255, .8);
    padding: 0 15px 1px 18px;
    margin-bottom: 98px;
    width: 100%;
    
    @mixin atLarge {
        margin-bottom: 0;
        padding: 0 1.8125rem 1px 1.8125rem;
    }
    
    &--last {
        margin-bottom: 0;
    }
    
    &__photo {
        border-radius: 80px;
        overflow: hidden;
        width:160px;
        height: 160px;
        margin: 0 auto -80px auto;
        position: relative;
        top: -80px;
        border: 6px solid rgba(255, 255, 255, .8);       
    }
    
     &__img {
      width:15%;
      height: auto;
    }
    
    &__title {
        color: $mainBlue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500rem;
        margin: 0;
    }
    
    &__subtitle {
        color: $mainOrange;
        text-align: center;
        font-weight: 400;
        font-size: 0.9375rem;
        margin: .25rem 0 1rem 0;
    }
    
    &__contact-info {
        padding: 9px;
        width: 100%;      
        transform: translateX(12%);
        
        @mixin atSmall {
            padding: 9px;
            width: 100%;      
            transform: translateX(30%);
        }
    
        
         @mixin atLarge {
            padding: 9px;
            width: 20rem;
            transform: none;
        }
        
        
        ul {
            display: block;
            list-style: none;

            @mixin clearfix;
        }

        li{
            margin-bottom: 12px;
            padding-bottom: 9px;
            
            @mixin atLarge {
                margin-bottom: 12px;
                padding-bottom: 9px;
            }
        }
        
         img {
            width: 2rem;
        }
    }
    
    &__map {
        width: 100%;
        
        
        @mixin atLarge {
            margin-top: -6rem;
            width: 100%;
        }
        
    }

}